body{
  overflow:hidden;
}

p {
  font-family:"Open Sans",sans-serif;
  font-size: 20px;
}

#header{
  margin:0px;
}

.navbar-brand{
  font-family: "Open Sans",sans-serif;
}

.nav{
  font-family: "Open Sans",sans-serif;
}

#mainPane{
  margin:0px;
  padding:5px;
  height:100vw;
  background-color: white;
}

#raphContainer{
  padding:0px;
  width:600px;
  height:600px;
  margin:auto;
}

#textExplanation{

}
